[Unit]
Description=Gunicorn instance to serve SimpleApp
After=network.target

[Service]
User=sammy
Group=www-data
WorkingDirectory=/<path to>/simpleapp/fwww
Environment="PATH=/<path to>/simpleappenv/bin"
ExecStart=/<path to>/simpleapp/bin/gunicorn --workers 3 --bind unix:<simpleapp>.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
